.titlebar {
    width: 100%;
    background: linear-gradient(to right, #616161 0%, #9BC5C3 100%);
}

.logo {
    width: 5%;
    float: left;
    padding-left: 1%;

}

.logout {
    float: right;
}

.content {
    clear: both;
}

.titlebar:before,
.titlebar:after {
    content: " ";
    display: table;
}

.titlebar:after {
    clear: both;
}

.titlebar {
    *zoom: 1;
}

.logoutButton {
    padding: 19%;
    background-color: #9BC5C3;
    border: none;
}

.logoutButton:hover {
    background-color: #84a6a3;
}

.sidebar {
    width: 20%;
    float: left;
}

.rightofbar {
    width: 79%;
    float: right;
}

li {
    list-style: none;
}

.horizontal {
    display: flex;
}

.actions {
    width: 100%;
}

.hamburger {
    width: 2%;
    float: left;
    padding-top: 1.5%;
    padding-left: 0.8%;
}

.hamburger:hover {
    cursor: pointer;
}

.iconSidebar {
    display: none;
    width: 5%;
    float: left;
}

table {
    width: 100%;
}

td {
    border: 1px solid black;
}

.sharing {
    display: none;
}

.switchTab {
    padding: 5%;
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5%;
}

.switchTab:hover {
    background-color: gray;
}