.password {
    color: red;
    font-size: xx-large;
    width: 33%;
    background-color:rgb(170, 207, 204);
    margin: auto;
    margin-top: 3%;
    padding-bottom: 3%;
}

.row {
    text-align: center;
    padding-top: 2rem;
}

.password-field {
    font-size: 1rem;
}